[DEFAULT]
SPOTIFY_CLIENT_SECRET = f5b3dfbf2bd54217b252bcfd29526a6f
SPOTIFY_CLIENT_ID = a0fb9cc9615c4a968c19369c55f2f236
SPOTIFY_REDIRECT_URI = http://localhost:8080
SPOTIFY_USER_REFRESH = BQBqNN5S0Ra_hx_SBafdYCUvoFCGnGKFAfEqIFrjf2kfFVUCncbKhac2cRRRuVjH46ITYgQrKrF2lK-kUm439QGDvAEauCtm-tq4FZAg0fe6L5GU_mVglVVPIDComU2kH6nF96w1_co43lMofb_ncpd2cMKdDRH5ZtUkpfuV0yTOlg

